<div class="option-singer panes-item">
    <div class="option-all__playlist option-all__margin_bot">
        <div class="option-heading option-all__playlist-heading mobile-hiden">
            <h3 class="option-heading-name js__main-color">Nghệ Sĩ</h3>
            <div class="more-list">
                <span class="js__main-color">Tất cả</span>
                <i class="fas fa-chevron-right js__main-color"></i>
            </div>
        </div>
        <ul class="option-all__playlist-list">
            <div class="row" id="gocNhacNgheSi">
            </div>
        </ul>
    </div>
</div>