<div class="option-music panes-item">
    <div class="option-heading option-all__song-heading">
        <h3 class="option-heading-name option-all__song-heading-left js__main-color">Bài Hát</h3>
        <div class="option-all__song-heading-right">
            <div class="more-list">
                <span class="js__main-color">Tất cả</span>
                <i class="fas fa-chevron-right js__main-color"></i>
            </div>
            <div class="btn option-all__song-heading-right-playall-btn js__playall-1">
                <i class="fas fa-play"></i>
                Phát tất cả
            </div>
        </div>
    </div>
    <div class="grid row">
        <ul class="option-music-list songs-list">
        </ul>
    </div>
</div>