<div class="main-container-zingchart js__container-panes ">
    <div class="zingchart__headding js__main-color">
        Bảng xếp hạng TOP 100
    </div>
    <ul class="zingchart__list js__zingchart__list"></ul>
</div>